<h5><%= source_site %> suggestions:</h5>
<div id="accordion-<%= source_site.tr('.', '') %>" class="mb-2" role="tablist" aria-multiselectable="true">

  <% jobs.each_with_index do |job, index| %>
      SOURCE <%= job.source %>
      <div class="card">
        <div class="card-header" role="tab" id="heading<%= index %>-<%= source_site.tr('.', '') %>">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion-<%= source_site.tr('.', '') %>"
               href="#collapse<%= index %>-<%= source_site.tr('.', '') %>"
               aria-expanded="true" aria-controls="collapse<%= index %>-<%= source_site.tr('.', '') %>">
              <%= job.title %>
            </a>
          </h5>
        </div>

        <div id="collapse<%= index %>-<%= source_site.tr('.', '') %>" class="collapse in" role="tabpanel"
             aria-labelledby="heading<%= index %>-<%= source_site.tr('.', '') %>">
          <div class="card-block">
            <%= job.description %>
            <a href="<%= job.uri %>" class="btn btn-primary">See original post</a>

            <%= link_to 'Generate cv', generate_path(job.title), remote: true, class: 'btn-primary' %>
          </div>
        </div>
      </div>

  <% end %>
</div><!-- END <%= source_site %> accordion -->